# Ignore all files so that I can manually whitelist desired ones.
*
!.gitignore

!/hypr/
!/hypr/**

!/waybar/
!/waybar/**

!/foot/
!/foot/**

!/fish/
!/fish/**

!/nvim/
!/nvim/**

!/dunst/
!/dunst/**
