// to match sainnhe/gruvbox-material dark palette
(
    selected_tab: Some("Reset"),
    command_fg: Some("#7daea3"),
    selection_bg: Some("#32302f"),
    selection_fg: Some("#d4be98"),
    cmdbar_bg: Some("#1d2021"),
    cmdbar_extra_lines_bg: Some("#1d2021"),
    disabled_fg: Some("#7c6f64"),
    diff_line_add: Some("#a9b665"),
    diff_line_delete: Some("#ea6962"),
    diff_file_added: Some("#a9b665"),
    diff_file_removed: Some("#ea6962"),
    diff_file_moved: Some("#e78a4e"),
    diff_file_modified: Some("#e78a4e"),
    commit_hash: Some("#89b482"),
    commit_time: Some("#d4be98"),
    commit_author: Some("#7daea3"),
    danger_fg: Some("#ea6962"),
    push_gauge_bg: Some("#7daea3"),
    push_gauge_fg: Some("#3c3836"),
    tag_fg: Some("#d8a657"),
    branch_fg: Some("#89b482")
)
